*{
    margin:0;
    padding: 0;
    border: 0;
}


.brand{
    border-radius: 10px;    
}

#submit {
    width: 65px;
    height: 20px;
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
  
  /* Just for presentation */  
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 8px;
  }
  #submit:active {
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
  }
  
   #submit:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 10px solid #187dbc;
    border-bottom: 10px solid #187dbc;
    border-left: 8px solid transparent;
    border-right: 10px solid #187dbc;
    position: absolute;
    opacity: 0.6; 
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;  
  }
  

body{
    background-image: url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    padding-top: 100px;
}
.container{
    width: 100%;
    height: 100%;
  
}

#pimg{
    width:30px;
    height:30px;
    cursor: pointer;
}

#mimg{
    width:27px;
    height:27px;
    cursor: pointer;
}

ul li{
    display: inline;
    list-style: none;
    margin: 0 20px;
    color: black;
    cursor:pointer;
    font-size: arial;
    color: white;
    font-size: 20px;

    

}

.navbar{
    padding-top: 20px;
    border-radius: 1px;
}
/* navbar end*/

/* Termine */

.testdiv{
    display: flex;
    align-items: center;
    justify-content: center !important;
    flex-direction: column;
    margin-top: 150px;
    
}

.wrapper-main{
    margin-top: 5px;
    display: flex;
    align-items: center !important;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #5D5C61;
    border-width: 5px;
    padding: 3px;
    background-color: #5D5C61;
    border-radius: 8px;
    

}


.Termine{
    align-items: flex-start;
    padding-right: 500px;
    color: black;
}

.item{
    width: 600px;
    margin:10px;
    background-color: white;
    display:flex;
    flex-direction: column;
    border-bottom: 2px solid;
    align-items: flex-start;
    min-height: 50px;
    border-radius: 5px;
}


.title{
    font-size: 17px;
    font-weight: bold;
    margin-left: 5px;
}
.date{
    font-size: 15px;
    margin-left: 8px;
}

.participant{
    font-size: 14px;
    margin-left: 8px;
}
