*{
    margin:0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}


.brand{
    border-radius: 10px;    
}


body{
    background-image: url(../img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    padding-top: 100px;
}
.container{
    width: 100%;
    height: 100%;
  
}

#pimg{
    width:30px;
    height:30px;
    cursor: pointer;
}

#mimg{
    width:27px;
    height:27px;
    cursor: pointer;
}

ul li{
    display: inline;
    list-style: none;
    margin: 0 20px;
    color: black;
    cursor:pointer;
    font-size: arial;
    color: white;
    font-size: 20px;

    

}

.navbar{
    padding-top: 20px;
    border-radius: 1px;
}
/* navbar end*/

/* Termine */

.testdiv{
    display: flex;
    align-items: center;
    justify-content: center !important;
    flex-direction: column;
    margin-top: 150px;
    
}

.wrapper-main{
    margin-top: 5px;
    display: flex;
    align-items: center !important;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #5D5C61;
    border-width: 5px;
    padding: 3px;
    background-color: #5D5C61;
    border-radius: 8px;
    

}


.Termine{
    color: black;
    font-size: 2rem;
}

.item{
    width: 600px;
    margin:10px;
    background-color: white;
    display:flex;
    flex-direction: column;
    border-bottom: 2px solid;
    align-items: flex-start;
    min-height: 50px;
    border-radius: 5px;
}


.title{
    font-size: 17px;
    font-weight: bold;
    margin-left: 5px;
}
.date{
    font-size: 15px;
}

.participant{
    font-size: 14px;
    margin-left: 8px;
}
.minus{
    display: flex;
    align-items: center;
    justify-content: center;
}
#dateplus{
    width:30px;
    height:30px;
    cursor: pointer;
}

#newappointment{
    max-height: 9999px;
}